<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>PortalApp</title>
        <base href="/" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="/ui/favicon.ico" />
       <link href="/ui/styles.636bd34767f928f3fff8.bundle.css" rel="stylesheet" />
    </head>
    <body style="background-image: url('../ui/assets/image/microservices-ftr.png')">
        <p id="myId" th:text="${#httpServletRequest.remoteUser}"></p>
        <app-root></app-root>
        <script type="text/javascript" src="/ui/inline.1c138fc3df4533a0de96.bundle.js"></script>
        <script type="text/javascript" src="/ui/polyfills.61df7d7ec492d95bb0b2.bundle.js"></script>
        <script type="text/javascript" src="/ui/scripts.00463c22d93137b6066b.bundle.js"></script>
        <script type="text/javascript" src="/ui/main.4baef629574d258181fa.bundle.js"></script>
    </body>
    </html>